<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            background-image: url("/images/bg.jpg");
            background-repeat: no-repeat;
            background-size: 100%, 100%;
        }
        form {
            position: absolute;
            top: 30%;
            left: 40%;
            width: 400px;
            height: 300px;
            background-color: white;
            border-radius: 4px;
            padding: 40px;
            box-sizing: border-box;
        }
        .username {
            width: 320px;
            height:30px;
            font-size: 16px;
            margin-bottom:30px;
            border-radius: 5px;
        }
        .submit {
            width: 320px;
            height:30px;
            font-size: 16px;
            margin-bottom:30px;
            border-radius: 5px;
            background-color: darkgreen;
            color: #ffffff;
            border: none;

        }
        a {
            text-decoration: none;
            color: #666;

        }
        a:hover {
            color: #eeeeee;
        }
        .fp {
            float: right;
            font-size: 12px;
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <form action="/loginAction" method="post">
        <input type="text" name="username" class="username" placeholder="Username">
        <br>
        <input type="password" name="password" class="username" placeholder="Password">
        <br>
        <input type="submit" value="Submit" class="submit">
        <a href="/register">Sign Up</a>
        <a href="#" class="fp">Forgot Password?</a>
    </form>
</body>
</html>